In [6]:
import pandas as pd
import numpy as np

In [8]:
dane = pd.read_excel('dane harcerek.xlsx', sheet_name='daneSQL')

In [9]:
dane = dane.replace('-', np.nan)

/tmp/ipykernel_63560/2425578023.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dane = dane.replace('-', np.nan)

In [11]:
dane.head()

,imię,nazwisko,data urodzenia,PESEL,miejscowość,adres zamieszkania,kod pocztowy,imię matki,imię ojca,tel matki,tel ojca,mail do rodzica,choroby,szkoła,zastęp
0,Ania,Pawlak,31.10.2013 r.,13303102029,Gdynia,Dedela 2/1/6,81-197,Barbara,Robert,503382546,501398277.0,basiap224@wp.pl,NaN,sp 28 Babie D.,Apatura Iris
1,Tosia,Rudzka,19.01.2010 r.,10211907067,Gdynia,Czwartaków 3/23,81-115,Ewa,Tomasz,503128205,533454908.0,ewarudzka37@gmail.com,"AZS, choroba lokomocyjna, aparat ortodontyczny...",katolik,Apatura Iris
2,Dorota,Guza,06.07.2010 r.,10270606246,Gdynia,Złota 13,81-154,Monika,Remigiusz,692834642,500051035.0,rguza@wp.pl,"sierść konia, kota, świnka morska, orzeczenie ...",sp 33 Gdynia,Apatura Iris
3,Ania,Żukowska,07.02.2010 r.,10220700907,Gdynia,Dickmana 53R/2,81-109,Alicja,Marcin,506026200,513093073.0,zukowska.alicja@gmail.com,NaN,katolik,Apatura Iris
4,Oliwia,Junko,01.02.2010 r.,10220103489,Gdynia,Bosmańska 41B/1,81-116,Beata,Grzegorz,691636163,504803478.0,beata2187@op.pl,NaN,sp 33 Gdynia,Apatura Iris

In [39]:
tabela_adres = dane.loc[:,['adres zamieszkania', 'kod pocztowy', 'miejscowość']].drop_duplicates('adres zamieszkania').reset_index(drop=True)

In [40]:
tabela_adres

     adres zamieszkania kod pocztowy  miejscowość
0          Dedela 2/1/6       81-197       Gdynia
1       Czwartaków 3/23       81-115       Gdynia
2              Złota 13       81-154       Gdynia
3        Dickmana 53R/2       81-109       Gdynia
4       Bosmańska 41B/1       81-116       Gdynia
5     Australijska 3E/2       81-116       Gdynia
6          Unruga 70A/6       81-181       Gdynia
7        Podgórska 3F/2       81-166       Gdynia
8            Wiejska 35       81-198      Pogórze
9    Twardowskiego 16/1       81-198      Pogórze
10       Włókiennicza 4       84-230        Rumia
11         Olchowa 40/1       81-198        Mosty
12          Kujawska 24       81-198         Rewa
13  Paderewskiego 19/26       81-198      Pogórze
14             Leśna 36       81-198        Mosty
15         Perłowa 4A/2       81-198  Pierwoszyno
16       Modrzewiowa 16       81-198        Mosty
17       Błękitna 1C/33       81-111       Gdynia
18           Okrężna 10       81-198        Mosty
19         Deszczowa 18       81-198        Mosty
20           Szkolna 2C       81-198        Mosty
21           Olchowa 39       81-198        Mosty
22         Nadmorska 31       81-198   Mechelinki
23       Modrzewiowa 28       81-198        Mosty
24       Paprykowa 35/2       81-198    Dębogórze

In [47]:
#tabela_adres
for idx in range(tabela_adres.shape[0]):
    adres_zam, kod, miejscowosc = tabela_adres.iloc[:,0], tabela_adres.iloc[:,1], tabela_adres.iloc[:,2]
    ulica, numer = adres_zam[idx].split(' ')
    print(f"insert into adres(id_adres, ulica, numer, kod, miejscowosc) values ({idx+1}, '{ulica}', '{numer}', '{kod[idx]}', '{miejscowosc[idx]}');")

insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (1, 'Dedela', '2/1/6', '81-197', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (2, 'Czwartaków', '3/23', '81-115', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (3, 'Złota', '13', '81-154', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (4, 'Dickmana', '53R/2', '81-109', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (5, 'Bosmańska', '41B/1', '81-116', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (6, 'Australijska', '3E/2', '81-116', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (7, 'Unruga', '70A/6', '81-181', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (8, 'Podgórska', '3F/2', '81-166', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (9, 'Wiejska', '35', '81-198', 'Pogórze');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (10, 'Twardowskiego', '16/1', '81-198', 'Pogórze');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (11, 'Włókiennicza', '4', '84-230', 'Rumia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (12, 'Olchowa', '40/1', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (13, 'Kujawska', '24', '81-198', 'Rewa');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (14, 'Paderewskiego', '19/26', '81-198', 'Pogórze');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (15, 'Leśna', '36', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (16, 'Perłowa', '4A/2', '81-198', 'Pierwoszyno');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (17, 'Modrzewiowa', '16', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (18, 'Błękitna', '1C/33', '81-111', 'Gdynia');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (19, 'Okrężna', '10', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (20, 'Deszczowa', '18', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (21, 'Szkolna', '2C', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (22, 'Olchowa', '39', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (23, 'Nadmorska', '31', '81-198', 'Mechelinki');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (24, 'Modrzewiowa', '28', '81-198', 'Mosty');
insert into adres(id_adres, ulica, numer, kod, miejscowosc) values (25, 'Paprykowa', '35/2', '81-198', 'Dębogórze');

In [50]:
tabela_dane = dane.loc[:,['imię', 'nazwisko', 'PESEL', 'data urodzenia', 'adres zamieszkania']]
tabela_adres.where(tabela_adres['adres zamieszkania'] == tabela_dane['adres zamieszkania'])
#tabela_dane

ValueError: Can only compare identically-labeled Series objects

In [ ]:

for idx in range(tabela_adres.shape[0]):
    adres_zam, kod, miejscowosc = tabela_adres.iloc[:,0], tabela_adres.iloc[:,1], tabela_adres.iloc[:,2]
    ulica, numer = adres_zam[idx].split(' ')
    print(f"insert into adres(id_adres, ulica, numer, kod, miejscowosc) values ({idx+1}, '{ulica}', '{numer}', '{kod[idx]}', '{miejscowosc[idx]}');")